@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book a Kovi-20 test</h1>
    <a asp-action="Index" asp-controller="Booking" class="button">Book now</a>
</div>
