@model EO_S20_TestBooking.Models.AvailableTimesPageModel
@{
    ViewData["Title"] = "Available Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Date and time</h2>
<a asp-action="Index" asp-controller="Home" class="button">Cancel booking</a>

<form method="post">
    <input class="form-control" asp-for="Date" type="date" title="Choose a date" required />
    <input id="dateButton" type="submit" value="Choose date" class="button" />
    <div id="times">
        <table>
            <tr>
                <th>Available times:</th>
            </tr>
            @foreach (var availableTime in Model.AvailableTimes.Where(availableTime => Model.Date.Date == availableTime.Date))
            {
                <tr>
                    <td>
                        <input id="timeButton" asp-action="Confirmation" asp-controller="Booking" asp-for="Time"
                               type="submit" value="@availableTime.ToShortTimeString()" class="button" />
                    </td>   
                </tr>
            }
        </table>
    </div>
</form>