@model EO_S20_TestBooking.Models.AppointmentPageModel
@{
    ViewData["Title"] = "Appointment Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation of booking</h2>
<form method="post">
    <table>
        <tr>
            <th>Social security number:</th>
            <td>@Model.Ssn</td>
        </tr>
        <tr>
            <th>Date and time:</th>
            <td>@Model.SelectedAppointment.ToString()</td>
        </tr>
        <tr>
            <th>Address of test center:</th>
            <td>@Model.Location.Address</td>
        </tr>
    </table>
    <input asp-action="SaveAppointment" asp-controller="Booking"
           type="submit" value="Confirm" class="button" />
    <input asp-for="SelectedLocationId" type="hidden" />
    <input asp-for="Ssn" type="hidden" />
    <input asp-for="SelectedAppointment" type="hidden" />
</form>

<a asp-action="Index" asp-controller="Home" class="button">Cancel booking</a>

