@model EO_S20_TestBooking.Models.SsnPageModel

@{
    ViewData["Title"] = "Index - SSN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Social Security Number:</h2>
<form method="post">
    <input class="form-control" asp-for="Ssn" type="text" placeholder="Enter your social security number" title="Enter your social security number" required/>
    <input asp-action="TestCenters" asp-controller="Booking" asp-route-ssn="@Model?.Ssn" type="submit" value="Continue" class="button" />
</form>

<a asp-action="Index" asp-controller="Home" class="button">Cancel booking</a>