@model EO_S20_TestBooking.Models.LocationPageModel

@{
    ViewData["Title"] = "Test Centers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestCenters</h2>
<a asp-action="Index" asp-controller="Home" class="button">Cancel booking</a>
<table>
    <tr>
        <th>Addresses of test centers:</th>
    </tr>
    @foreach (Location loc in Model.Locations)
    {
        <tr>
            <td>@loc.Address</td>
            <td>
                <form method="post">
                    <input asp-action="AvailableTimes" asp-controller="Booking" type="submit" value="Choose"/>
                    <input asp-for="Ssn" type="hidden" />
                    <input asp-for="SelectedLocationId" type="hidden" value="@loc.Id" />
                </form>
            </td>
        </tr>
    }
</table>